// base/_base.scss
// ******** ******** ******** ********
// ONLY RAW BROWSER SELECTORS GOES HERE
svg {
  width: 100%;
  height: 100%;
}

input[readonly]{
	background-color: transparent !important;
}

// h1, h2, h3, h4, h5, button{

// }

// span, p, div{
// }
