//utilities/_config.scss

// Colors
$black: #000;
$white: #FFF;
$dark: #2E2D28;
$pink-red: #DE0653;

//Sizes
$iphone: 320px;
$iphone6: 375px;
$iphone6-plus: 414px; //Iphone6Plus
$tablet: 768px;
$desktop: 992px;
$lg-screen: 1200px;
$screen-13: 1270px;
$xl-screen: 1540px;

