//_post.scss

.posts-container{
   margin-top: 200px;
}


.post{
  width: 500px;
  height: 500px;
  margin: auto;
  display: block;
  @media(max-width: $iphone6-plus){
    width: 300px;
    height: 300px;
  }
}

.post-header{
  font-weight: bolder;
  height: 50px;
  padding: 5px;
}

.post-content{
	max-height: 450px;
}

.post-footer{
  height: 40px;
  padding: 5px;
}

.post-header, .post-content, .post-footer{
  background-color: rgba($almost-black,.92);
}

.post-img{
  padding: 5px;
  img{
    width: 100%;
    height: auto;
  }
}

.post-html{
  display: block;
  width: 90%;
  margin: auto;
  padding: 5px;
  iframe{
    width: 100% !important;
    height: 100%;
    max-width: 447px !important;
  }
  img{
    max-width: 440px;
    @media(max-width: $iphone6-plus){
      width: 260px;
    }
  }
}
