//_post.scss

.post{
  width: 500px;
  height: 500px;
  margin: 100px;
}
.post-header{
  font-weight: bolder;
  height: 50px;
  padding: 5px;
}
.post-footer{
  height: 40px;
  padding: 5px;
}
.post-header, .post-content, .post-footer{
  background-color: rgba($almost-black,.92);
}
.post-img{
  padding: 5px;
  img{
    width: 100%;
    height: auto;
  }
}

.post-html{
  display: block;
  width: 90%;
  margin: auto;
  padding: 5px;
  iframe{
    width: 100%;
    height: 100%;
  }
}
