.posts-container
  p(ng-if="vm.loading") CARGANDO
  .post(ng-repeat="p in vm.posts | orderBy: '-createdAt'")
    .post-header
      p
        span.rainbow {{p.provider_name}}
    .post-content
      .post-img(ng-if="!p.html")
        img(ng-src="{{p.image_url}}" err-src="../../images/zicogif.gif")
      .post-html(ng-if="p.html")
        div(ng-bind-html="vm.sanitize(p.html)")
    .post-footer
      .likeme
        a(ng-click='p.like()')
          img(src='../../images/chalano.svg', alt='noguzta')
        a(ng-click='p.dislike()')
          img(src='../../images/chalazi.svg', alt='meguzta')
